<footer class="footer">
  <img src="./images/footerlogo.svg" alt="" class="footer__logo" />
  <div class="grid">
    <section class="contact">
      <p class="footer__location">
        <img src="./images/icon-location.svg" alt="" class="location" />
        <span class="location__address">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod temporincididunt ut labore et dolore magna aliqua
        </span>
      </p>
      <p class="footer__phone">
        <img src="./images/icon-phone.svg" alt="" class="phone" />
        +1-543-123-4567
      </p>
      <p class="footer__mail">
        <img src="./images/icon-email.svg" alt="" class="mail" />
        lawalridwan860@gmail.com
      </p>
    </section>

    <section class="about">
      <ul class="about__list">
        <li><a href="">About Us</a></li>
        <li><a href=""> What We Do</a></li>
        <li><a href=""> FAQ</a></li>
        <li><a href=""> Career</a></li>
        <li><a href=""> Blog</a></li>
        <li><a href=""> Contact Us</a></li>
      </ul>
    </section>

    <section class="footer__media">
      <ul class="media__list">
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
      </ul>

      <p class="footer__copyright">
        &copy; Copyright 2018 Huddle. All rights reserved.
      </p>
    </section>
  </div>
</footer>
