<div class="hero__banner">
    <div class=" hero__transparency">
      <div class="grid hero__width">
      <div class="hero__contents">
          <h1 class="hero__heading">  Build The Community Your Fans Will Love</h1>
          <p class="hero__description"> Huddle re-imagines the way we build communities. You have a voice, but so does your audience.
            Create connections with your users as you engage in genuine discussion. </p>
            <button class="btn btn__first btn__first"><a href="#">Get Started for Free</a></button>
                </div>
          <img src="./images/illustration-mockups.svg" alt="" class="banner__image">
        </div>


      </div>
  </div>